doctype html
html
  head
    title Top Loading Bar
    script(src="ToProgress.js")
    script(src="src/index.js")
  body
    button#increase Increase
    button#decrease Decrease
    button#hide Hide
    button#show Show
    button#auto Auto
    button#reset Reset