*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans','Hiragino Sans GB','Microsoft YaHei',微软雅黑,STHeiti,'WenQuanYi Micro Hei',Helvetica,Arial,sans-serif;
}

p{
  margin-top: 8px;
  margin-bottom: 8px;
}

h1{
  margin-bottom: 24px;
  margin-top: 24px;
}

span{
  margin-bottom: 12px;
}

h3{
  margin-top: 4px;
  margin-bottom: 4px;
  color: #EF5350;
}

::selection{
  background-color: #F44336;
  color: #fff;
}

header{
  text-align: center;
  background-color: #fff;
  font-size: 1.8em;
  padding: 12px;
}

.container{
  margin: 0 auto;
  margin-top: 128px;
  width: 960px;
}

.title{
  color: #EF5350;
  text-align: center;
  font-size: 3em;
}

.description{
  text-align: center;
  font-size: 1.2em;
}

.btn{
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  margin-right: 18px;
  display: inline-block;
}

.code{
  background-color: #fff;
  padding: 12px;
  border-radius: 4px;
}

footer{
  padding: 12px;
  text-align: center;
  font-size: .8em;
}

.api ul{
  padding-left: 24px;
}

.version{
  text-align: center;
  font-size: .8em;
  color: #616161;
}
.download{
  text-align: center;
}
.download a.download-btn{
  margin-top: 24px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #F44336;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 4px;
  -webkit-transition: background-color .4s;
}
.download a.download-btn:hover{
  background-color: #D32F2F;
}

